# Sesiunea 1: Recap Curs 1 & Introducere Ã®n Pandas

## ğŸ“‹ Obiective

- Revizuire concepte Curs 1 (liste, dicÈ›ionare, funcÈ›ii)
- ÃnÈ›elegerea limitÄƒrilor listelor/dicÈ›ionarelor pentru date tabulare
- Introducere pandas È™i DataFrames
- Primele operaÈ›ii cu date reale

**Durata:** 1.5 ore

**Format:** Live coding interactiv

## Partea 1: Recap Curs 1 (20 minute)

### 1.1 Date structurate cu liste È™i dicÈ›ionare

In [2]:
# Exemplu: datele din homework 1 - dicÈ›ionare Ã®n listÄƒ
regiuni_dict = [
    {
        "regiune": "ChiÈ™inÄƒu",
        "populatie": 532513,
        "rata_ocupare": 67.5,
        "venit_mediu": 8750,
        "rata_alfabetizare": 99.8,
        "sector_dominant": "Servicii",
        "numar_intreprinderi": 15420,
        "rata_somaj": 5.2
    },
    {
        "regiune": "BÄƒlÈ›i",
        "populatie": 102457,
        "rata_ocupare": 63.2,
        "venit_mediu": 6420,
        "rata_alfabetizare": 98.5,
        "sector_dominant": "Industrie",
        "numar_intreprinderi": 3840,
        "rata_somaj": 6.8
    },
    {
        "regiune": "Cahul",
        "populatie": 28763,
        "rata_ocupare": 59.8,
        "venit_mediu": 5340,
        "rata_alfabetizare": 97.2,
        "sector_dominant": "AgriculturÄƒ",
        "numar_intreprinderi": 1250,
        "rata_somaj": 8.4
    }
]

print("ğŸ“Š Date regiuni (format dicÈ›ionare):")
print(f"Tip: {type(regiuni_dict)}")
print(f"NumÄƒr regiuni: {len(regiuni_dict)}")
print(f"\nPrima regiune:\n{regiuni_dict[0]}")

ğŸ“Š Date regiuni (format dicÈ›ionare):
Tip: <class 'list'>
NumÄƒr regiuni: 3

Prima regiune:
{'regiune': 'ChiÈ™inÄƒu', 'populatie': 532513, 'rata_ocupare': 67.5, 'venit_mediu': 8750, 'rata_alfabetizare': 99.8, 'sector_dominant': 'Servicii', 'numar_intreprinderi': 15420, 'rata_somaj': 5.2}

### 1.2 OperaÈ›ii clasice din Curs 1

In [3]:
# Calcul populaÈ›ie totalÄƒ - metoda din Curs 1
def calculeaza_populatie_totala(lista_regiuni):
    """CalculeazÄƒ populaÈ›ia totalÄƒ din toate regiunile."""
    total = 0
    for regiune in lista_regiuni:
        total += regiune["populatie"]
    return total

populatie_totala = calculeaza_populatie_totala(regiuni_dict)
print(f"PopulaÈ›ie totalÄƒ: {populatie_totala:,} locuitori")

PopulaÈ›ie totalÄƒ: 663,733 locuitori

In [4]:
# Filtrare - gÄƒseÈ™te regiuni cu populaÈ›ie > 50,000
def filtreaza_regiuni_mari(lista_regiuni, prag=50000):
    """ReturneazÄƒ regiunile cu populaÈ›ie peste pragul specificat."""
    regiuni_mari = []
    for regiune in lista_regiuni:
        if regiune["populatie"] > prag:
            regiuni_mari.append(regiune)
    return regiuni_mari

regiuni_mari = filtreaza_regiuni_mari(regiuni_dict)
print(f"\nğŸ™ï¸ Regiuni mari (>50,000 locuitori): {len(regiuni_mari)}")
for reg in regiuni_mari:
    print(f"  - {reg['regiune']}: {reg['populatie']:,}")

ğŸ™ï¸ Regiuni mari (>50,000 locuitori): 2
  - ChiÈ™inÄƒu: 532,513
  - BÄƒlÈ›i: 102,457

In [5]:
# Sortare - ordoneazÄƒ dupÄƒ venit mediu
def sorteaza_dupa_venit(lista_regiuni):
    """SorteazÄƒ regiunile descrescÄƒtor dupÄƒ venit mediu."""
    return sorted(lista_regiuni, key=lambda x: x["venit_mediu"], reverse=True)

regiuni_sortate = sorteaza_dupa_venit(regiuni_dict)
print("\nğŸ’° Top regiuni dupÄƒ venit mediu:")
for i, reg in enumerate(regiuni_sortate, 1):
    print(f"  {i}. {reg['regiune']}: {reg['venit_mediu']} lei")

ğŸ’° Top regiuni dupÄƒ venit mediu:
  1. ChiÈ™inÄƒu: 8750 lei
  2. BÄƒlÈ›i: 6420 lei
  3. Cahul: 5340 lei

### 1.3 LimitÄƒrile abordÄƒrii cu liste È™i dicÈ›ionare

**Probleme:**
- âŒ Cod verbose - multe loop-uri manuale
- âŒ PerformanÈ›Äƒ - lent pentru date mari (>10,000 rÃ¢nduri)
- âŒ Lipsa validÄƒrii - erori de tastare la chei (`regiune['popolatie']` vs `regiune['populatie']`)
- âŒ OperaÈ›ii complexe - dificil de fÄƒcut grupÄƒri, pivot tables
- âŒ Lipsa tooling-ului - nu existÄƒ `.describe()`, `.head()`, statistici automate
- âŒ Dificil de vizualizat - trebuie sÄƒ extragi manual datele pentru grafice
- âŒ Gestionare manualÄƒ a tipurilor - trebuie sÄƒ convertim manual string â†’ int/float

**SoluÈ›ia:** ğŸ¼ **pandas** - biblioteca standard pentru data analysis Ã®n Python!

**NotÄƒ:** Listele È™i dicÈ›ionarele rÄƒmÃ¢n utile pentru date mici (<100 rÃ¢nduri) sau structuri de date simple. Pentru date tabulare mari, pandas este esenÈ›ial!

## Partea 2: Introducere Ã®n Pandas (40 minute)

### 2.1 Ce este pandas?

In [6]:
# Instalare (rulaÈ›i Ã®n terminal dacÄƒ nu aveÈ›i deja):
# pip install pandas numpy

import pandas as pd
import numpy as np

print(f"âœ… Pandas versiune: {pd.__version__}")
print(f"âœ… NumPy versiune: {np.__version__}")

âœ… Pandas versiune: 2.3.3
âœ… NumPy versiune: 2.3.5

**Pandas** = **Pan**el **Da**ta - bibliotecÄƒ pentru manipulare È™i analizÄƒ date tabulare

**Structura principalÄƒ: DataFrame**
- Tabel bidimensional (rÃ¢nduri Ã— coloane)
- Similar cu Excel, SQL table, R data.frame
- Fiecare coloanÄƒ are un tip (int, float, str, datetime)
- Index pentru rÃ¢nduri (implicit 0, 1, 2, ...)

### 2.2 Primul DataFrame - din dicÈ›ionare

In [7]:
# Convertim lista de dicÈ›ionare Ã®n DataFrame
df_regiuni = pd.DataFrame(regiuni_dict)

print("ğŸ“Š DataFrame creat!")
print(f"Tip: {type(df_regiuni)}")
print(f"\nConÈ›inut:")
df_regiuni.head()

ğŸ“Š DataFrame creat!
Tip: <class 'pandas.core.frame.DataFrame'>

ConÈ›inut:

,regiune,populatie,rata_ocupare,venit_mediu,rata_alfabetizare,sector_dominant,numar_intreprinderi,rata_somaj
0,ChiÈ™inÄƒu,532513,67.5,8750,99.8,Servicii,15420,5.2
1,BÄƒlÈ›i,102457,63.2,6420,98.5,Industrie,3840,6.8
2,Cahul,28763,59.8,5340,97.2,AgriculturÄƒ,1250,8.4

In [8]:
# InformaÈ›ii despre DataFrame
print("ğŸ“ Dimensiuni:")
print(f"  FormÄƒ (shape): {df_regiuni.shape}")  # (rÃ¢nduri, coloane)
print(f"  NumÄƒr rÃ¢nduri: {len(df_regiuni)}")
print(f"  NumÄƒr coloane: {len(df_regiuni.columns)}")
print(f"\nğŸ“‹ Nume coloane:")
print(df_regiuni.columns.tolist())

ğŸ“ Dimensiuni:
  FormÄƒ (shape): (3, 8)
  NumÄƒr rÃ¢nduri: 3
  NumÄƒr coloane: 8

ğŸ“‹ Nume coloane:
['regiune', 'populatie', 'rata_ocupare', 'venit_mediu', 'rata_alfabetizare', 'sector_dominant', 'numar_intreprinderi', 'rata_somaj']

In [9]:
# InformaÈ›ii despre tipuri de date
print("ğŸ” InformaÈ›ii detaliate:")
df_regiuni.info()

ğŸ” InformaÈ›ii detaliate:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   regiune              3 non-null      object
 1   populatie            3 non-null      int64
 2   rata_ocupare         3 non-null      float64
 3   venit_mediu          3 non-null      int64
 4   rata_alfabetizare    3 non-null      float64
 5   sector_dominant      3 non-null      object
 6   numar_intreprinderi  3 non-null      int64
 7   rata_somaj           3 non-null      float64
dtypes: float64(3), int64(3), object(2)
memory usage: 324.0+ bytes

### 2.3 Citirea unui CSV real

In [10]:
# Citim datele din CSV (toate cele 10 regiuni)
df = pd.read_csv('../datasets/regiuni_moldova.csv')

print("âœ… CSV Ã®ncÄƒrcat cu succes!")
print(f"FormÄƒ: {df.shape}")
print(f"\nPrimele 5 rÃ¢nduri:")
df.head()

âœ… CSV Ã®ncÄƒrcat cu succes!
FormÄƒ: (10, 8)

Primele 5 rÃ¢nduri:

,regiune,populatie,rata_ocupare,venit_mediu,rata_alfabetizare,sector_dominant,numar_intreprinderi,rata_somaj
0,ChiÈ™inÄƒu,532513,67.5,8750,99.8,Servicii,15420,5.2
1,BÄƒlÈ›i,102457,63.2,6420,98.5,Industrie,3840,6.8
2,Cahul,28763,59.8,5340,97.2,AgriculturÄƒ,1250,8.4
3,Ungheni,32828,61.4,5890,98.1,AgriculturÄƒ,1580,7.9
4,Soroca,22196,58.3,5120,97.8,AgriculturÄƒ,980,7.6

In [11]:
# Ultimele rÃ¢nduri
print("Ultimele 3 rÃ¢nduri:")
df.tail(3)

Ultimele 3 rÃ¢nduri:

,regiune,populatie,rata_ocupare,venit_mediu,rata_alfabetizare,sector_dominant,numar_intreprinderi,rata_somaj
7,Comrat,20113,60.2,5670,98.7,AgriculturÄƒ,1120,7.5
8,StrÄƒÈ™eni,18376,62.8,5980,98.0,Servicii,1340,6.5
9,HÃ®nceÈ™ti,16900,59.5,5230,97.9,AgriculturÄƒ,890,8.2

In [12]:
# Statistici descriptive automate!
print("ğŸ“Š Statistici descriptive pentru coloane numerice:")
df.describe()

ğŸ“Š Statistici descriptive pentru coloane numerice:

,populatie,rata_ocupare,venit_mediu,rata_alfabetizare,numar_intreprinderi,rata_somaj
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,82341.100000,61.420000,5950.000000,98.180000,2929.000000,7.340000
std,160231.867096,3.191586,1101.231634,0.722342,4481.243503,1.166381
min,15624.000000,56.800000,4890.000000,97.200000,720.000000,5.200000
25%,18810.250000,59.575000,5257.500000,97.825000,1015.000000,6.575000
50%,25479.500000,60.800000,5780.000000,98.050000,1295.000000,7.550000
75%,33437.750000,63.100000,6152.500000,98.450000,2007.500000,8.125000
max,532513.000000,67.500000,8750.000000,99.800000,15420.000000,9.100000

**ObservaÈ›i ce ne oferÄƒ `.describe()` automat:**
- `count` - cÃ¢te valori non-null
- `mean` - media aritmeticÄƒ
- `std` - deviaÈ›ia standard (mÄƒsurÄƒ a dispersiei)
- `min` - valoarea minimÄƒ
- `25%` - primul quartil (Q1)
- `50%` - mediana (Q2)
- `75%` - al treilea quartil (Q3)
- `max` - valoarea maximÄƒ

**Ãn Curs 1** ar fi trebuit sÄƒ scriem funcÈ›ii separate pentru fiecare! Pandas face asta Ã®ntr-o singurÄƒ comandÄƒ.

**Tip:** `.describe()` funcÈ›ioneazÄƒ doar pe coloane numerice. Coloanele de tip `object` (string) sunt ignorate automat.

### 2.4 SelecÈ›ie de date

In [13]:
# Selectare o coloanÄƒ - returneazÄƒ Series
print("ğŸ“ O singurÄƒ coloanÄƒ (Series):")
print(df['regiune'])
print(f"\nTip: {type(df['regiune'])}")

ğŸ“ O singurÄƒ coloanÄƒ (Series):
0    ChiÈ™inÄƒu
1       BÄƒlÈ›i
2       Cahul
3     Ungheni
4      Soroca
5       Orhei
6      EdineÈ›
7      Comrat
8    StrÄƒÈ™eni
9    HÃ®nceÈ™ti
Name: regiune, dtype: object

Tip: <class 'pandas.core.series.Series'>

In [14]:
# Selectare multiple coloane - returneazÄƒ DataFrame
print("ğŸ“ Multiple coloane (DataFrame):")
df_subset = df[['regiune', 'populatie', 'venit_mediu']]
print(df_subset)
print(f"\nTip: {type(df_subset)}")

ğŸ“ Multiple coloane (DataFrame):
    regiune  populatie  venit_mediu
0  ChiÈ™inÄƒu     532513         8750
1     BÄƒlÈ›i     102457         6420
2     Cahul      28763         5340
3   Ungheni      32828         5890
4    Soroca      22196         5120
5     Orhei      33641         6210
6    EdineÈ›      15624         4890
7    Comrat      20113         5670
8  StrÄƒÈ™eni      18376         5980
9  HÃ®nceÈ™ti      16900         5230

Tip: <class 'pandas.core.frame.DataFrame'>

In [15]:
# Selectare rÃ¢nduri - folosind .loc (label-based)
print("ğŸ“ Primul rÃ¢nd (index 0):")
print(df.loc[0])

ğŸ“ Primul rÃ¢nd (index 0):
regiune                ChiÈ™inÄƒu
populatie                532513
rata_ocupare               67.5
venit_mediu                8750
rata_alfabetizare          99.8
sector_dominant        Servicii
numar_intreprinderi       15420
rata_somaj                  5.2
Name: 0, dtype: object

In [16]:
# Selectare rÃ¢nduri specifice
print("ğŸ“ RÃ¢ndurile 0, 2, 4:")
df.loc[[0, 2, 4]]

ğŸ“ RÃ¢ndurile 0, 2, 4:

,regiune,populatie,rata_ocupare,venit_mediu,rata_alfabetizare,sector_dominant,numar_intreprinderi,rata_somaj
0,ChiÈ™inÄƒu,532513,67.5,8750,99.8,Servicii,15420,5.2
2,Cahul,28763,59.8,5340,97.2,AgriculturÄƒ,1250,8.4
4,Soroca,22196,58.3,5120,97.8,AgriculturÄƒ,980,7.6

In [17]:
# Selectare rÃ¢nd È™i coloanÄƒ simultan
print("ğŸ“ Valoare specificÄƒ (rÃ¢nd 0, coloanÄƒ 'regiune'):")
print(df.loc[0, 'regiune'])

print("\nğŸ“ Mai multe valori:")
print(df.loc[0:2, ['regiune', 'populatie']])

ğŸ“ Valoare specificÄƒ (rÃ¢nd 0, coloanÄƒ 'regiune'):
ChiÈ™inÄƒu

ğŸ“ Mai multe valori:
    regiune  populatie
0  ChiÈ™inÄƒu     532513
1     BÄƒlÈ›i     102457
2     Cahul      28763

### 2.5 OperaÈ›ii simple

Pandas oferÄƒ metode vectorizate pentru calcule pe coloane Ã®ntregi. Acestea sunt:
- **Mult mai rapide** decÃ¢t loop-uri Python (implementate Ã®n C)
- **Mult mai concise** - o linie Ã®n loc de 5-10
- **Mai sigure** - gestionare automatÄƒ a valorilor lipsÄƒ (NaN)

In [18]:
# Calcule pe coloane Ã®ntregi - MULT mai simplu decÃ¢t Ã®n Curs 1!
print("ğŸ“Š Statistici pentru populaÈ›ie:")
print(f"  Total: {df['populatie'].sum():,}")
print(f"  Medie: {df['populatie'].mean():,.0f}")
print(f"  MedianÄƒ: {df['populatie'].median():,.0f}")
print(f"  Min: {df['populatie'].min():,}")
print(f"  Max: {df['populatie'].max():,}")

ğŸ“Š Statistici pentru populaÈ›ie:
  Total: 823,411
  Medie: 82,341
  MedianÄƒ: 25,480
  Min: 15,624
  Max: 532,513

In [19]:
# ComparaÈ›ie: metoda veche vs nouÄƒ
print("â±ï¸ METODA VECHE (Curs 1):")
total_vechi = sum([r['populatie'] for r in regiuni_dict])
print(f"  Total populaÈ›ie: {total_vechi:,}")
print("  Cod: sum([r['populatie'] for r in regiuni_dict])")

print("\nâš¡ METODA NOUÄ‚ (Pandas):")
total_nou = df['populatie'].sum()
print(f"  Total populaÈ›ie: {total_nou:,}")
print("  Cod: df['populatie'].sum()")

print("\nâœ… Rezultat identic, dar pandas e mult mai concis È™i rapid!")

â±ï¸ METODA VECHE (Curs 1):
  Total populaÈ›ie: 663,733
  Cod: sum([r['populatie'] for r in regiuni_dict])

âš¡ METODA NOUÄ‚ (Pandas):
  Total populaÈ›ie: 823,411
  Cod: df['populatie'].sum()

âœ… Rezultat identic, dar pandas e mult mai concis È™i rapid!

In [20]:
# Filtrare - mai simplu cu boolean indexing
print("ğŸ” Filtrare: regiuni cu populaÈ›ie > 50,000")

# CreÄƒm o mascÄƒ boolean
masca = df['populatie'] > 50000
print(f"\nMascÄƒ boolean:\n{masca}")

# AplicÄƒm masca
regiuni_mari = df[masca]
print(f"\nğŸ™ï¸ Regiuni mari ({len(regiuni_mari)}):")
regiuni_mari

ğŸ” Filtrare: regiuni cu populaÈ›ie > 50,000

MascÄƒ boolean:
0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: populatie, dtype: bool

ğŸ™ï¸ Regiuni mari (2):

,regiune,populatie,rata_ocupare,venit_mediu,rata_alfabetizare,sector_dominant,numar_intreprinderi,rata_somaj
0,ChiÈ™inÄƒu,532513,67.5,8750,99.8,Servicii,15420,5.2
1,BÄƒlÈ›i,102457,63.2,6420,98.5,Industrie,3840,6.8

In [21]:
# Versiune scurtÄƒ (fÄƒrÄƒ variabilÄƒ intermediarÄƒ)
print("ğŸ” AceeaÈ™i filtrare, variantÄƒ scurtÄƒ:")
df[df['populatie'] > 50000][['regiune', 'populatie']]

ğŸ” AceeaÈ™i filtrare, variantÄƒ scurtÄƒ:

    regiune  populatie
0  ChiÈ™inÄƒu     532513
1     BÄƒlÈ›i     102457

In [22]:
# Sortare
print("ğŸ“Š Sortare dupÄƒ venit mediu (descrescÄƒtor):")
df_sortat = df.sort_values('venit_mediu', ascending=False)
df_sortat[['regiune', 'venit_mediu']]

ğŸ“Š Sortare dupÄƒ venit mediu (descrescÄƒtor):

    regiune  venit_mediu
0  ChiÈ™inÄƒu         8750
1     BÄƒlÈ›i         6420
5     Orhei         6210
8  StrÄƒÈ™eni         5980
3   Ungheni         5890
7    Comrat         5670
2     Cahul         5340
9  HÃ®nceÈ™ti         5230
4    Soroca         5120
6    EdineÈ›         4890

In [23]:
# Sortare dupÄƒ mai multe coloane
print("ğŸ“Š Sortare dupÄƒ sector È™i apoi venit:")
df.sort_values(['sector_dominant', 'venit_mediu'], ascending=[True, False])[['regiune', 'sector_dominant', 'venit_mediu']]

ğŸ“Š Sortare dupÄƒ sector È™i apoi venit:

    regiune sector_dominant  venit_mediu
3   Ungheni     AgriculturÄƒ         5890
7    Comrat     AgriculturÄƒ         5670
2     Cahul     AgriculturÄƒ         5340
9  HÃ®nceÈ™ti     AgriculturÄƒ         5230
4    Soroca     AgriculturÄƒ         5120
6    EdineÈ›     AgriculturÄƒ         4890
1     BÄƒlÈ›i       Industrie         6420
5     Orhei       Industrie         6210
0  ChiÈ™inÄƒu        Servicii         8750
8  StrÄƒÈ™eni        Servicii         5980

## Partea 3: ComparaÈ›ie DirectÄƒ - Curs 1 vs Pandas (20 minute)

Ãn aceastÄƒ secÈ›iune, vom compara direct metodele din Curs 1 cu pandas pentru aceleaÈ™i task-uri. ObservaÈ›i diferenÈ›ele Ã®n:
- **Lungimea codului** (linii de cod)
- **Citibilitatea** (claritate)
- **PerformanÈ›a** (viteza de execuÈ›ie)

### Task: CalculaÈ›i venitul mediu naÈ›ional

In [24]:
print("=" * 60)
print("TASK: CalculaÈ›i venitul mediu naÈ›ional")
print("=" * 60)

# METODA CURS 1: ListÄƒ de dicÈ›ionare
print("\nğŸ“ METODA 1: Curs 1 (liste + dicÈ›ionare)")
print("-" * 60)

def venit_mediu_national_vechi(lista_regiuni):
    """CalculeazÄƒ venitul mediu naÈ›ional (metoda Curs 1)."""
    suma = 0
    count = 0
    for regiune in lista_regiuni:
        suma += regiune['venit_mediu']
        count += 1
    return suma / count

# Trebuie sÄƒ citim È™i parsÄƒm CSV manual
import csv
with open('../datasets/regiuni_moldova.csv', 'r', encoding='utf-8') as f:
    reader = csv.DictReader(f)
    regiuni_list = []
    for row in reader:
        regiuni_list.append({
            'regiune': row['regiune'],
            'populatie': int(row['populatie']),
            'rata_ocupare': float(row['rata_ocupare']),
            'venit_mediu': float(row['venit_mediu']),
            'rata_alfabetizare': float(row['rata_alfabetizare']),
            'sector_dominant': row['sector_dominant'],
            'numar_intreprinderi': int(row['numar_intreprinderi']),
            'rata_somaj': float(row['rata_somaj'])
        })

venit_vechi = venit_mediu_national_vechi(regiuni_list)
print(f"Venit mediu: {venit_vechi:.2f} lei")
print("Linii de cod: ~25 (inclusiv citirea CSV)")

# METODA PANDAS
print("\nâš¡ METODA 2: Pandas")
print("-" * 60)

# ReÃ®ncÄƒrcÄƒm DataFrame-ul pentru claritate
df = pd.read_csv('../datasets/regiuni_moldova.csv')
venit_nou = df['venit_mediu'].mean()

print(f"Venit mediu: {venit_nou:.2f} lei")
print("Linii de cod: 2")

print("\n" + "=" * 60)
print("âœ… REZULTAT IDENTIC, dar pandas e ~12x mai concis!")
print("ğŸ’¡ Pandas gestioneazÄƒ automat conversiile de tip È™i citirea CSV")
print("=" * 60)

============================================================
TASK: CalculaÈ›i venitul mediu naÈ›ional
============================================================

ğŸ“ METODA 1: Curs 1 (liste + dicÈ›ionare)
------------------------------------------------------------
Venit mediu: 5950.00 lei
Linii de cod: ~25 (inclusiv citirea CSV)

âš¡ METODA 2: Pandas
------------------------------------------------------------
Venit mediu: 5950.00 lei
Linii de cod: 2

============================================================
âœ… REZULTAT IDENTIC, dar pandas e ~12x mai concis!
ğŸ’¡ Pandas gestioneazÄƒ automat conversiile de tip È™i citirea CSV
============================================================

### Task: GÄƒsiÈ›i regiunea cu cel mai mare numÄƒr de Ã®ntreprinderi

In [25]:
print("=" * 60)
print("TASK: Regiunea cu cele mai multe Ã®ntreprinderi")
print("=" * 60)

# AsigurÄƒm cÄƒ regiuni_list existÄƒ È™i are toate cÃ¢mpurile necesare
# (Ã®n cazul Ã®n care celula 34 nu a fost rulatÄƒ)
if ('regiuni_list' not in globals() or 
    not regiuni_list or 
    'numar_intreprinderi' not in regiuni_list[0]):
    import csv
    with open('../datasets/regiuni_moldova.csv', 'r', encoding='utf-8') as f:
        reader = csv.DictReader(f)
        regiuni_list = []
        for row in reader:
            regiuni_list.append({
                'regiune': row['regiune'],
                'populatie': int(row['populatie']),
                'rata_ocupare': float(row['rata_ocupare']),
                'venit_mediu': float(row['venit_mediu']),
                'rata_alfabetizare': float(row['rata_alfabetizare']),
                'sector_dominant': row['sector_dominant'],
                'numar_intreprinderi': int(row['numar_intreprinderi']),
                'rata_somaj': float(row['rata_somaj'])
            })

# CURS 1
print("\nğŸ“ METODA CURS 1:")
max_intreprinderi = 0
regiune_top = ""
for regiune in regiuni_list:
    if regiune['numar_intreprinderi'] > max_intreprinderi:
        max_intreprinderi = regiune['numar_intreprinderi']
        regiune_top = regiune['regiune']

print(f"Regiunea: {regiune_top}")
print(f"Ãntreprinderi: {max_intreprinderi:,}")
print("Linii de cod: ~8")

# PANDAS
print("\nâš¡ METODA PANDAS:")
idx_max = df['numar_intreprinderi'].idxmax()
regiune_max = df.loc[idx_max]

print(f"Regiunea: {regiune_max['regiune']}")
print(f"Ãntreprinderi: {regiune_max['numar_intreprinderi']:,}")
print("Linii de cod: 2")

# SAU mai simplu:
print("\nâš¡ VARIANTÄ‚ ALTERNATIVÄ‚ (1 linie):")
print(df.loc[df['numar_intreprinderi'].idxmax(), ['regiune', 'numar_intreprinderi']])

============================================================
TASK: Regiunea cu cele mai multe Ã®ntreprinderi
============================================================

ğŸ“ METODA CURS 1:
Regiunea: ChiÈ™inÄƒu
Ãntreprinderi: 15,420
Linii de cod: ~8

âš¡ METODA PANDAS:
Regiunea: ChiÈ™inÄƒu
Ãntreprinderi: 15,420
Linii de cod: 2

âš¡ VARIANTÄ‚ ALTERNATIVÄ‚ (1 linie):
regiune                ChiÈ™inÄƒu
numar_intreprinderi       15420
Name: 0, dtype: object

### Task: GrupaÈ›i regiunile dupÄƒ sectorul dominant È™i calculaÈ›i populaÈ›ia totalÄƒ per sector

In [26]:
print("=" * 60)
print("TASK: PopulaÈ›ie totalÄƒ per sector dominant")
print("=" * 60)

# AsigurÄƒm cÄƒ regiuni_list existÄƒ È™i are toate cÃ¢mpurile necesare
# (Ã®n cazul Ã®n care celula 34 nu a fost rulatÄƒ)
if ('regiuni_list' not in globals() or 
    not regiuni_list or 
    'sector_dominant' not in regiuni_list[0]):
    import csv
    with open('../datasets/regiuni_moldova.csv', 'r', encoding='utf-8') as f:
        reader = csv.DictReader(f)
        regiuni_list = []
        for row in reader:
            regiuni_list.append({
                'regiune': row['regiune'],
                'populatie': int(row['populatie']),
                'rata_ocupare': float(row['rata_ocupare']),
                'venit_mediu': float(row['venit_mediu']),
                'rata_alfabetizare': float(row['rata_alfabetizare']),
                'sector_dominant': row['sector_dominant'],
                'numar_intreprinderi': int(row['numar_intreprinderi']),
                'rata_somaj': float(row['rata_somaj'])
            })

# CURS 1 - destul de complex!
print("\nğŸ“ METODA CURS 1:")
sectoare = {}
for regiune in regiuni_list:
    sector = regiune['sector_dominant']
    if sector not in sectoare:
        sectoare[sector] = 0
    sectoare[sector] += regiune['populatie']

for sector, populatie in sectoare.items():
    print(f"  {sector}: {populatie:,}")
print("Linii de cod: ~10")

# PANDAS - incredibil de simplu!
print("\nâš¡ METODA PANDAS:")
print(df.groupby('sector_dominant')['populatie'].sum())
print("Linii de cod: 1")

print("\nğŸ“Š PANDAS (formatat mai frumos):")
rezultat = df.groupby('sector_dominant')['populatie'].sum().reset_index()
rezultat.columns = ['Sector', 'PopulaÈ›ie TotalÄƒ']
print(rezultat)

============================================================
TASK: PopulaÈ›ie totalÄƒ per sector dominant
============================================================

ğŸ“ METODA CURS 1:
  Servicii: 550,889
  Industrie: 136,098
  AgriculturÄƒ: 136,424
Linii de cod: ~10

âš¡ METODA PANDAS:
sector_dominant
AgriculturÄƒ    136424
Industrie      136098
Servicii       550889
Name: populatie, dtype: int64
Linii de cod: 1

ğŸ“Š PANDAS (formatat mai frumos):
        Sector  PopulaÈ›ie TotalÄƒ
0  AgriculturÄƒ            136424
1    Industrie            136098
2     Servicii            550889

## Partea 4: ExerciÈ›iu Practic (10 minute)

### SarcinÄƒ pentru studenÈ›i:

Folosind DataFrame-ul `df`, rezolvaÈ›i urmÄƒtoarele:

**Sfaturi:**
- FolosiÈ›i `.idxmin()` sau `.idxmax()` pentru a gÄƒsi indexul rÃ¢ndului cu valoarea minimÄƒ/maximÄƒ
- FolosiÈ›i boolean indexing pentru filtrare: `df[df['coloana'] == 'valoare']`
- FolosiÈ›i `.mean()` pentru a calcula media unei coloane
- PuteÈ›i crea coloane noi prin atribuire directÄƒ: `df['coloana_noua'] = ...`

**DacÄƒ aÈ›i modificat DataFrame-ul Ã®n celulele anterioare**, reÃ®ncÄƒrcaÈ›i-l cu:
```python
df = pd.read_csv('../datasets/regiuni_moldova.csv')
```

In [27]:
# ExerciÈ›iul 1: GÄƒsiÈ›i regiunea cu cea mai micÄƒ ratÄƒ a È™omajului
# Hint: FolosiÈ›i .idxmin() pe coloana 'rata_somaj'
# TODO: ScrieÈ›i codul aici

In [28]:
# ExerciÈ›iul 2: AfiÈ™aÈ›i toate regiunile cu sector dominant "Servicii"
# Hint: FolosiÈ›i boolean indexing: df[df['sector_dominant'] == 'Servicii']
# TODO: ScrieÈ›i codul aici

In [29]:
# ExerciÈ›iul 3: CalculaÈ›i rata medie de alfabetizare pentru regiunile cu sector "AgriculturÄƒ"
# Hint: FiltraÈ›i mai Ã®ntÃ¢i, apoi calculaÈ›i media: df[conditie]['coloana'].mean()
# TODO: ScrieÈ›i codul aici

In [30]:
# ExerciÈ›iul 4 (Bonus): CreaÈ›i o nouÄƒ coloanÄƒ "densitate_intreprinderi" = numar_intreprinderi / populatie * 1000
# (Ã®ntreprinderi per 1000 locuitori)
# Hint: df['coloana_noua'] = (df['col1'] / df['col2']) * 1000
# TODO: ScrieÈ›i codul aici

## SoluÈ›ii ExerciÈ›ii

In [31]:
# SoluÈ›ie Ex 1:
# GÄƒsim indexul rÃ¢ndului cu rata minimÄƒ de È™omaj
idx_min = df['rata_somaj'].idxmin()
print(idx_min)
print("Regiunea cu cea mai micÄƒ ratÄƒ a È™omajului:")
print(df.loc[idx_min, ['regiune', 'rata_somaj']])

0
Regiunea cu cea mai micÄƒ ratÄƒ a È™omajului:
regiune       ChiÈ™inÄƒu
rata_somaj         5.2
Name: 0, dtype: object

In [32]:
# SoluÈ›ie Ex 2:
# Filtrare cu boolean indexing È™i selectare coloane
print("Regiuni cu sector dominant 'Servicii':")
df[df['sector_dominant'] == 'Servicii'][['regiune', 'sector_dominant', 'numar_intreprinderi']]

Regiuni cu sector dominant 'Servicii':

    regiune sector_dominant  numar_intreprinderi
0  ChiÈ™inÄƒu        Servicii                15420
8  StrÄƒÈ™eni        Servicii                 1340

In [33]:
# SoluÈ›ie Ex 3:
# Filtrare + calcul medie Ã®ntr-o singurÄƒ linie
rata_medie = df[df['sector_dominant'] == 'AgriculturÄƒ']['rata_alfabetizare'].mean()
print(f"Rata medie de alfabetizare (AgriculturÄƒ): {rata_medie:.2f}%")

Rata medie de alfabetizare (AgriculturÄƒ): 97.87%

In [34]:
# SoluÈ›ie Ex 4:
# CreÄƒm o coloanÄƒ nouÄƒ prin calcul vectorizat
df['densitate_intreprinderi'] = (df['numar_intreprinderi'] / df['populatie']) * 1000
print("Densitatea Ã®ntreprinderi (per 1000 locuitori):")
print("(Sortate descrescÄƒtor)")
df[['regiune', 'densitate_intreprinderi']].sort_values('densitate_intreprinderi', ascending=False)

Densitatea Ã®ntreprinderi (per 1000 locuitori):
(Sortate descrescÄƒtor)

    regiune  densitate_intreprinderi
8  StrÄƒÈ™eni                72.921202
5     Orhei                63.910110
7    Comrat                55.685378
9  HÃ®nceÈ™ti                52.662722
3   Ungheni                48.129645
6    EdineÈ›                46.082949
4    Soroca                44.152099
2     Cahul                43.458610
1     BÄƒlÈ›i                37.479138
0  ChiÈ™inÄƒu                28.957040

## Recapitulare È™i Concluzii

### Ce am Ã®nvÄƒÈ›at astÄƒzi:

âœ… **Recap Curs 1:**
- Liste È™i dicÈ›ionare pentru date structurate
- FuncÈ›ii pentru calcule repetitive
- Loop-uri pentru procesare
- Citire CSV manualÄƒ cu modulul `csv`

âœ… **Introducere Pandas:**
- **DataFrame** - structura principalÄƒ (tabel bidimensional)
- **Series** - o coloanÄƒ din DataFrame
- Citire CSV: `pd.read_csv()`
- Explorare: `.head()`, `.tail()`, `.info()`, `.describe()`, `.shape`
- SelecÈ›ie: 
  - Coloane: `df['col']` (Series) sau `df[['col1', 'col2']]` (DataFrame)
  - RÃ¢nduri: `.loc[index]` sau `.loc[[idx1, idx2]]`
  - Combinat: `.loc[rÃ¢nd, coloanÄƒ]`
- OperaÈ›ii vectorizate: `.sum()`, `.mean()`, `.median()`, `.max()`, `.min()`, `.idxmax()`, `.idxmin()`
- Filtrare cu boolean indexing: `df[df['col'] > valoare]`
- Sortare: `.sort_values(by='col', ascending=False)`
- Grupare: `.groupby('col')['alt_col'].sum()`
- Creare coloane noi: `df['noua_col'] = ...`

âœ… **Avantajele pandas:**
- Cod mult mai concis È™i citibil (5-10x mai puÈ›ine linii)
- PerformanÈ›Äƒ superioarÄƒ (implementat Ã®n C/Cython)
- FuncÈ›ii integrate pentru operaÈ›ii comune
- Gestionare automatÄƒ a tipurilor È™i conversii
- Gestionare automatÄƒ a valorilor lipsÄƒ (NaN)
- Ecosistem bogat (matplotlib, seaborn pentru vizualizare)

### ComparaÈ›ie Curs 1 vs Pandas:

| OperaÈ›ie | Curs 1 | Pandas |
|----------|--------|--------|
| Citire CSV | ~15 linii (csv.DictReader + conversii) | 1 linie (`pd.read_csv()`) |
| Calcul medie | ~5 linii (loop + sumÄƒ) | 1 linie (`.mean()`) |
| Filtrare | ~5 linii (loop + if) | 1 linie (boolean indexing) |
| Grupare | ~10 linii (dicÈ›ionar + loop) | 1 linie (`.groupby()`) |

### UrmÄƒtoarea sesiune (Sesiunea 2):
- CurÄƒÈ›area datelor cu pandas
- Valori lipsÄƒ (NaN, None) - `.isna()`, `.fillna()`, `.dropna()`
- Duplicates - `.duplicated()`, `.drop_duplicates()`
- Tipuri de date È™i conversii - `.astype()`, `.to_datetime()`
- LucrÄƒm cu dataset EU-SILC Estonia (date reale, mii de rÃ¢nduri!)

### ğŸ“š Resurse pentru acasÄƒ:
- [Pandas Documentation](https://pandas.pydata.org/docs/) - documentaÈ›ia oficialÄƒ
- [10 Minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html) - tutorial rapid
- [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) - referinÈ›Äƒ rapidÄƒ
- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) - capitol despre pandas

### ğŸ’ª Practice:
1. RepetaÈ›i exerciÈ›iile din aceastÄƒ sesiune cu propriile date!
2. ExploraÈ›i È™i alte coloane din dataset `regiuni_moldova.csv`
3. ÃncercaÈ›i sÄƒ calculaÈ›i statistici pentru fiecare sector dominant
4. ExperimentaÈ›i cu `.groupby()` pe diferite coloane

### â“ ÃntrebÄƒri frecvente:

**Q: CÃ¢nd sÄƒ folosesc liste/dicÈ›ionare vs pandas?**  
A: Liste/dicÈ›ionare pentru date mici (<100 rÃ¢nduri) sau structuri simple. Pandas pentru date tabulare mari sau analizÄƒ complexÄƒ.

**Q: Pandas Ã®nlocuieÈ™te complet Python de bazÄƒ?**  
A: Nu! Pandas este un tool specializat pentru date tabulare. Python de bazÄƒ rÄƒmÃ¢ne esenÈ›ial pentru logica de programare.

**Q: Cum Ã®nvÄƒÈ› mai multe despre pandas?**  
A: PracticÄƒ zilnic! ÃncepeÈ›i cu operaÈ›ii simple È™i construiÈ›i treptat cÄƒtre operaÈ›ii mai complexe.

---

**MulÈ›umesc! Ne vedem la Sesiunea 2! ğŸš€**